version: '3'
name: hacktson-autobots
services:
  db:
    image: postgres:16
    container_name: hacktson-autobots-postgres
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'hacktson-autobots'
  redis:
    image: redis
    container_name: hacktson-autobots-redis
    ports:
      - '6379:6379'
    volumes:
      - redis:/data

volumes:
  database:
  redis:
